name: Deploy_backend

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - 'backend/**'
      - '.github/workflows/backend.main.yml'

env:
  CONTAINER_IMAGE_NAME: mariammbello/resume
  DOTNET_VERSION: '6.0.x'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: dev
    steps:
    - name: 'Checkout GitHub Action'
      uses: actions/checkout@v3

    - name: 'Set up Docker Buildx'
      uses: docker/setup-buildx-action@v2

    - name: 'Login to GitHub Container Registry'
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

    - name: 'Build Docker image'
      run: |
        docker build -t ghcr.io/${{ env.CONTAINER_IMAGE_NAME }}:latest -f Dockerfile .

    - name: 'Push Docker image'
      run: |
        docker push ghcr.io/${{ env.CONTAINER_IMAGE_NAME }}:latest

    # - name: 'Deploy with environment variables'
    #   run: |
    #     docker run -d -p 80:80 \
    #       -e MONGODB_CONNECTION_STRING=${{ secrets.MONGODB_CONNECTION_STRING }} \
    #       -e MONGODB_DATABASE_NAME=${{ secrets.MONGODB_DATABASE_NAME }} \
    #       ghcr.io/${{ env.CONTAINER_IMAGE_NAME }}:latest
